@import "tailwindcss";

@variant dark (.dark &);

:root {
  --background: #ffffff;
  --foreground: #171717;
}

.dark {
  --background: #0a0a0a;
  --foreground: #ededed;
}

@theme{
  --font-inter: var(--font-inter);
  --font-jetbrains: var(--font-jetbrains)
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.theme-circle-overlay {
  position: fixed;
  inset: 0;
  pointer-events: none;
  z-index: 9999;

  /* Start: big circle → overlay covers entire screen */
  clip-path: circle(var(--circle-r) at var(--circle-x) var(--circle-y));
  transition: clip-path 0.7s ease-out;
}

/* End: tiny circle → overlay only at click point, rest is new theme */
.theme-circle-overlay--active {
  clip-path: circle(0px at var(--circle-x) var(--circle-y));
}

/* Overlay uses the OLD theme background */
.theme-circle-overlay--dark {
  background: #020617; /* your dark background */
}

.theme-circle-overlay--light {
  background: #f9fafb; /* your light background */
}



